/* Inter font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
                

/* shared styles */
*{
    font-family: 'inter', sans-serif;
    
}
.shape{
    color: #FFF;
    font-family: Miama;
    font-size: 120px;
    font-weight: 400;
    line-height: 120%;
}
body{
    background-color: black;
}
header{
    margin: 58px 190px;
}
main{
    margin: 58px 190px;
}

/* header related styles */
nav {
    display: flex;
    align-items:center;
    justify-content: space-between; 
    margin: 0px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-title, .footer-title{
    color: #E6533C;
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    margin: 0px;
}

.primary-manu{
    color: white;
    background-color: #E6533C;
    font-weight: 700;
    display: flex;
    padding: 8px 20px;
    border-radius: 46px;
}
nav > ul {
    display: flex;
    padding: 10px 0px;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

nav li{
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav a, li{
    text-decoration: none;
    color: White;
}

/* banner section styles */
.banner-section{
    background: url(../images/banner-image.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 54px;
    margin: 32px 0;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 24px 0;
    margin: 64px 0px;
}

.banner-title{
    color: white;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin: 0;
}

.banner-des{
    color: #FFFFFF80;
    width: 460px;
    margin-bottom: 28px;
}

.banner-btns{
    display: flex;
    gap: 14px;
}
.ban-btn1, .ban-btn2, .run-btn, .form-btn{
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
}

.ban-btn1, .run-btn, .form-btn{
    background: #E6533C;
    border: none;
}
.ban-btn2{
    background-color: black;
    border: 1px solid white;
}

.banner-tags{
    display: flex;
    flex: 1;
    gap: 220px;
    flex-direction: column;
    margin-left: 40px;
}
.banner-tag1, .banner-tag2{
    width: 193px;
    border-radius: 12px;
    border: 1px solid #FFFFFF1A;
    background: #FFFFFF1A;
    backdrop-filter: blur(10px);
    padding-top: 16px;
    margin: 0;
}
.banner-tag1{
    margin-left: 350px;
}
.banner-tag2{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: left;
    margin-left: 60px;
}

.red-circle{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    margin-left: 24px;
    border-radius: 50%;
}
.tag1-title{
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 0;
    color: white;
    padding-left: 24px;
}

.tag1-des{
    padding-left: 24px;
    font-size: 13px;
    color:#FFFFFF80;
    margin-top: 8px;
}

.tag2-title{
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 0;
    color: white;
}

.tag2-des{
    font-size: 13px;
    color:#FFFFFF80;
    margin-top: 8px;
}

/* habit section */
.habit-section{
    margin: 100px 0;
}
.habit-content, .package-content{
    text-align: center;
    margin-bottom: 54px;
}
.habit-title, .package-title, .run-title, .team-title, .calculator-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 12px;
}
.calculator-title{
    text-align: center;
}
.habit-des, .package-des, .team-des, .calculator-des{
    color: #FFFFFF80;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    width: 671px;
    margin: auto;
}

.calculator-des{
    margin-bottom: 80px;
}
.habit-items{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.habit-item, .package-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.habit-img{
    border-radius: 50%;
    margin-bottom: 30px;
}

.habit-item-title{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin: 0; 
}

.habit-item-des{
    color: #FFFFFF80;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
}

.package-items{
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.package-item{
    background-color: #dedbdb;
    border-radius: 16px;
    box-shadow: 0px 0px 3px 1px gainsboro;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.package-name{
    color: #E6533C;
}

.package-price{
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
    margin: 0; 
}

.taka{
    font-size: 16px;
    font-weight: 400;
}

.save{
    color: red;
    margin: 8px 0;
}

.package-btn{
    background: #E6533C;
    border: none;
    padding: 16px 40px;
    border-radius: 16px;
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin-bottom: 32px;
}

.run-section{
    display: flex;
    justify-content: space-between;
    gap: 160px;
    border-radius: 18px;
    background: #222;
    margin: 100px 0;

}

.run-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px 42px;
    gap: 10px;
}

.run-img{
    width: 380px;
    height: 340px;
    border: none;
    border-radius: 18px;
    margin: 30px;
}
.run-title{
    margin-top: 0;
}

.run-des{
    font-size: 14px;
    color: #ffffff80;
}

.run-btn{
    margin-top: 32px;
    width: 260px;
}

/* BMI styles */

table {
    border-collapse: collapse;
    color: #FFFFFF80;
  }
  
  td, th {
    border: 1px solid #FFFFFF1A;
    text-align: left;
    padding: 8px;
  }
  td{
    font-size: 12px;
  }

  .chart-section{
    background-color: #222;
    margin-left: 0px;
    padding: 52px 32px;
    border-radius: 18px;
  }

  .bmi-chart-title, .calculate-bmi-title{
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-top: 0;
  }

  .calculate-bmi-title{
    margin-bottom: 12px;
  }
  .chart-section{
    display: flex;
    gap: 150px;
  }

  .calculate-bmi-des{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 0;
}

.input1, .input2{
    display: flex;
    gap: 8px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}
.form-btn{
    width: 50%;
}
input{
    height: 48px;
    padding: 0px 40px 0px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
}

/* team styles */
.team-content{
    margin-bottom: 58px;
}
.team-title{
    text-align: center;
}

.team-members{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
}

.team-members-one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.team-members-two{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.team-member-img{
    width: 290px;
    height: 272px;
    border-radius: 18px;
}

.team-name{
    color: #FFF;
    font-size: 20px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0px;
}

.team-desig{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 4px;
}


.team-member1{
    position: relative;
}

.team-name-desig1{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.team-member2{
    position: relative;
}

.team-name-desig2{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.team-member3{
    position: relative;
}

.team-name-desig3{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.team-member4{
    position: relative;
}

.team-name-desig4{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.team-member5{
    position: relative;
}

.team-name-desig5{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.team-member6{
    position: relative;
}

.team-name-desig6{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
/* footer */
footer{
    background-color: rgba(255, 255, 255, 0.10);
}
.footer-section{
    margin-top: 100px;
    padding: 58px 190px;
    display: flex;
    justify-content: space-between;
    align-items: start;

}
.footer-content{

    width: 50%;
    margin-right: 90px;
}

.footer-title{
    margin-bottom: 20px;
    font-size: 70px;
}
.footer-des{
    color: #FFFFFF80;
    width: 50%;
}
 
.get-started{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-link{
    color: rgba(255, 255, 255, 0.50);
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
}
.get-started-1{
    margin-right: 90px;
}

hr{
   border: 1px solid white;
   margin: 80px 190px 36px;
}

.rights{
    color: rgba(255, 255, 255, 0.50);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    padding-bottom: 36px;
}

.hamicon{
    display: none;
}
/* Responsive Media Query */
@media screen and (max-width:600px) {
    header, main, footer, .footer-section{
        margin: 32px;
    }

    nav{
        margin: 0px;
        flex-direction: row;
        justify-content: left;
    }
    nav > ul {
        display: none;

    }
    nav>.hamicon{
        display: block;
        height: 40px;
        margin-left: 140px;
    }
    .banner-section, .habit-items, .package-items, .run-section, .chart-section, .team-members, .team-members-one, .team-members-two{
        flex-direction: column;
    }
}